main {
    background-color: rgba(220, 220, 220, 0.871);
    color: black;
    display: flex;
    justify-content: center;
}

    section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 10rem;
        gap: 2rem;
    }

    .carro {
        border: 2px solid black;
        padding: 2rem;
        line-height: 2rem;
        border-radius: 50px;
    }

    .carro img {
        width: 18rem;
        height: 13rem;
    }

    .carro button {
        height: 2rem;
        width: 10rem;
        background-color: navy;
        color: white;
        border-radius: 10px;
        border: 3px solid white;
}