@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

:root {
    --font-color: #C71585;
}

body {
    background-color: black;
    color: white;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Titillium Web", sans-serif;
    font-style: normal;
}

button {
    border-radius: 20px;
    border: 3px solid rgb(41, 123, 123);
}

/* HEADER */

header {
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1;
}

    #header {
        display: grid;
        grid-template-columns: 0.7fr 1.6fr 0.7fr;
        justify-content: space-between;
        padding: 2rem 2rem;
        gap: 3em;
        align-items: center;
        background-image: linear-gradient(to top, black, var(--font-color));
    }

    #logo {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #logo img {
        width: 3.5rem;
        height: 3.5rem;
        padding: 0 0.5rem;
    }

    #logo a {
        text-decoration: none;
        color: white;
    }

    #menu nav ul { 
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-around;
    }

    #menu a{
        text-decoration: none;
        color: white;
    }

    #menu a:hover {
        text-decoration: underline;
        color: aqua;
    }

    #login {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #login button {
        height: 2rem;
        width: 4.5rem;
        background-color: gainsboro;
        color: black;
    }

    .search-bar {
        padding-left: 10px;
        align-items: stretch;
    }

    .search-bar input {
        width: 50%;
        height: 1.8em;
        border: 4px dashed black;
        background-color: gainsboro;
    }

    .search-bar input:focus {
        border: 0.2em solid green;
        height: 2.5rem;
    }

    .search-bar button:focus {
        align-items: flex-end;
}


/* MAIN */

#subscriptionDiv {
    background-color: white;
    color: var(--font-color);
}

#subscription {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    max-width: 1300px;
    margin: 0 auto;
    padding: 2rem 1rem;
    justify-content: space-between;
    line-height: 2.5rem;
}

#subinfo button {
    width: 7rem;
    height: 2.5rem;
    margin-top: 2rem;
}

#subinfo button:hover {
    background-color: rgb(41, 123, 123);
}

#subinfo a {
    text-decoration: none;
    color: navy;
}

#subinfo a:hover {
    text-decoration: underline;
    color: whitesmoke;
}

#carshow {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    gap: 0.4rem;
    padding: 0 3rem;
}

#carshow img{
    width: 22.5rem;
    height: 15rem;
    border-radius: 30px;
    opacity: 0.8;
    border: 4px solid black;
}

#offer {
    text-align: center;
    line-height: 3rem;
    font-size: 1.2rem;
    height: 23rem;
    max-width: 1300px;
    padding: 2rem 1rem;
    margin: 0 auto;
}

#offer a {
    text-decoration: none;
    color: #00008B;
}

#offer a:hover {
    color: var(--font-color);
}

#offer button {
    width: 10rem;
    height: 3rem;
    margin: 2rem 0;
    font-size: larger;
    background-color: #FFF5EE;
}

#carshowsDiv {
    background-color: white;
    color: var(--font-color);
}

#carshows {
    justify-content: center;
    text-align: center;
    max-width: 1300px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

#showimg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#showimg img {
    background-color: black;
    border: 3px solid var(--font-color);
    padding: 2rem;
    margin: 2rem 1rem;
    height: 15rem;
}


/* FOOTER */

footer {
    line-height: 2rem;
    height: 15.5rem;
    padding: 2rem 2rem;
    background-image: linear-gradient(to bottom, black, var(--font-color));
}

footer a {
    text-decoration: none;
    color: white;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer li {
    list-style-type: none;
}

footer li ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.social-media {
    display: flex;
    flex-direction: row;
    padding: 0 0.5rem;
}

.social-media img{
    width: 2rem;
    height: 2rem;
}

.newsletter {
    padding: 1rem 0 0.5em;
    opacity: 0.7;
}


/* RESPONSIVENESS */

@media only screen and (max-width: 1600px) {
    #carshow img {
        height: 15rem;
        width: 20rem;
    }
}

@media only screen and (max-width: 1260px) {
    #subscription {
        display: flex;
        justify-content: center;
        
    }
}